REPO_DIR={{ control_node_runtime_repo_dir }}
VENV_DIR={{ control_node_runtime_venv_dir }}
INVENTORY_PATH={{ control_node_runtime_inventory_path }}
DEFAULT_PLAYBOOK={{ control_node_runtime_default_playbook }}
