JOB_NAME={{ item.name }}
JOB_DESCRIPTION={{ item.description | quote }}
JOB_TYPE={{ item.type | default('playbook') }}
JOB_INVENTORY_PATH={{ item.inventory_path | default(control_node_runtime_inventory_path) }}
JOB_PLAYBOOK_PATH={{ item.playbook_path | default(control_node_runtime_default_playbook) }}
JOB_LIMIT={{ item.limit | default('') | quote }}
JOB_TAGS={{ item.tags | default('') | quote }}
JOB_EXTRA_ARGS={{ item.extra_args | default('') | quote }}
