REPO_OWNER={{ control_node_runtime_repo_owner }}
REPO_NAME={{ control_node_runtime_repo_name }}
BRANCH={{ control_node_runtime_repo_branch }}
REPO_DIR={{ control_node_runtime_repo_dir }}
VENV_DIR={{ control_node_runtime_venv_dir }}
UV_BIN={{ control_node_runtime_uv_bin }}
BOOTSTRAP_PLAYBOOK={{ control_node_runtime_reconcile_playbook }}
RECONCILE_AFTER_SYNC={{ control_node_runtime_reconcile_after_sync | ternary('true', 'false') }}
GITHUB_ED25519_FINGERPRINT={{ control_node_runtime_github_ed25519_fingerprint }}
